<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Hug
</div>


<!-- Card huggers#index -->

<div class="friendly">
  <div class="row">
    <% @hugs.where(category: 0).each do |hug| %>
      <div class="col-3">
        <div class="card-trip m-4">
          <img src=<%= cl_image_path hug.photo %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to hug.title, hug_path(hug), :style=>'color: black;', class: 'stretched-link' %></h2>
              <p>Short description here!</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- Card home page -->

<div id="friendly" class="row">
  <div class="card-deck">
  <% @hugs.where(category: 0).each do |hug| %>
    <div class="wrapper mx-4">
      <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
        <div class="info">
          <h1><%= hug.title %></h1>
          <p><%= hug.description.first(70) %>...</p>
          <button><%= link_to "Details", hug_path(hug) %></button>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


<!-- Card bookings#index -->

<div class="container">
  <div class="row mt-4">
    <div class="col-10 offset-1 d-">
      <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.hug.photo %>
        <div class="card-product-infos ml-4">
          <h2><%= booking.hug.title %></h2>
          <br>
           <span><i class="fas fa-calendar-check"></i> <%=booking.check_in %> | <i class="fas fa-calendar-times"></i> <%= booking.check_out%></span>
           <br>
          <span><i class="fas fa-tags"></i> <%= booking.hug.price %> €</span>
        </div>
        <div class="card-product-progress d-flex align-items-center justify-content-center">
          <% if booking.progress == "pending" %>
            <p><i class="fas fa-hourglass-half"></i> <%= booking.progress %></p>
          <% end %>
          <% if booking.progress == "accepted" %>
            <p><i class="fas fa-user-check"></i> <%= booking.progress %></p>
          <% end %>
          <% if booking.progress == "refused" %>
            <p><i class="fas fa-user-times"></i> <%= booking.progress %></p>
          <% end %>
          <% if booking.progress == "canceled" %>
            <p><i class="fas fa-times-circle"></i> <%= booking.progress %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
