<%# NAVBAR TOP MENU START %>
<%# RAJOUTER JQUERY bg-light & Remove bg-transparant %>
<%# ! Dans le Link To, rajouter un logo %>
<%# ! Remettre fixed-top navbar-fixed-top pour une nav bar fixed%>
<nav id="navMenu" class="navbar sticky-top navbar-light bg-white justify-content-between w-100">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'hunm.png' %>
  <% end %>
  <div class="d-flex" id="">
    <%# LOGIN USER %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <button class="btn"><i class="fas fa-sign-out-alt fa-lg"></i></button>
      <% end %>
    <% else %>
      <button id="userMenuBtn" class="btn"><i class="fa fa-user"></i></button>
    <% end %>
    <%# MENU DOTS %>
    <a id="dotsMenu" class="btn menu" data-target="#modalNavigation" data-toggle="modal">
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
    </a>
  </div>
</nav>
<%# NAVBAR TOP MENU END %>
<%# MODAL MENU START %>
<div class="modal fade" id="modalNavigation" role="dialog"  aria-hidden="true">
  <%# BUTTON CLOSE %>
  <a id="dotsMenuClose" class="btn menu active" data-target="#modalNavigation" data-toggle="modal" aria-label="Close" class="close" data-dismiss="modal">
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
  </a>
  <%# MODAL %>
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <ul id="menuModal" class="list-group text-center">
        <%# LIST %>
        <%# link_to 'text', path %>
        <%= link_to 'Home', root_path, class: "list-group-item menu-item" %>
        <%= link_to 'Huggers', huggers_path, class: "list-group-item menu-item" %>
        <% if user_signed_in? %>
          <% if current_user.hugger %>
            <%= link_to 'My Hugs', hugger_hugs_path, class: "list-group-item menu-item" %>
            <%= link_to 'My Pendings', edit_hugger_hug_booking_path(1,1), class: "list-group-item menu-item" %>
          <% end %>
          <%# TODO, Chemin Booking inexistant  %>
          <%= link_to 'My Bookings', bookings_path, class: "list-group-item menu-item" %>

        <% end %>

        <% if !user_signed_in? %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "list-group-item menu-item" %>
        <% end %>

        <%# MENU PROFIL / LOG OUT START %>
        <hr>
        <li class="footer-menu list-inline ">
          <div class="d-flex justify-content-center">
            <!-- <a class="list-group-item" href="#"><i class="far fa-user fa-lg"></i></a> -->
            <!-- <a class="list-group-item" href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a> -->
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <p class="list-group-item"><i class="fas fa-sign-out-alt fa-lg"></i></p>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <p class="list-group-item"><i class="far fa-user fa-lg"></i></p>
              <% end %>
            <% end %>
          </div>
        </li>
        <%# MENU PROFIL / LOG OUT END %>
      </ul>
    </div>
  </div>
</div>
<%# MODAL MENU END %>
