<div id="heroHeaderHome" class="jumbotron jumbotron-fluid">
  <div  class="container d-flex flex-column">
    <h1 class="">Welcome to Hug'N'More</h1>
    <p class="lead">Take your time... make a hug ♥️</p>
  </div>
</div>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Friendly</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <% @hugs.where(category: 0).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Tiny</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <% @hugs.where(category: 1).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Fast</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <% @hugs.where(category: 2).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>More</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <% @hugs.where(category: 3).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
