<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="">Welcome to Hug'N'More</h1>
    <p class="lead">Rajouter une image</p>
  </div>
</div>

<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Friendly</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.where(category: 0).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h1><%= hug.title %></h1>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Tiny</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.where(category: 1).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h1><%= hug.title %></h1>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Fast</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.where(category: 2).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h1><%= hug.title %></h1>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>More</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.where(category: 3).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h1><%= hug.title %></h1>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
