<div id="heroHeaderHome" class="jumbotron jumbotron-fluid">
  <div  class="container d-flex flex-column">
    <h1 class="">Welcome to Hug'N'More</h1>
    <p class="lead">Take your time... make a hug ♥️</p>
    <div class="input-group m-5">
      <div class="input-group-append">
        <%= form_tag hugs_path, method: :get do %>
          <%= text_field_tag :s,
              params[:s],
              class: "form-control",
              placeholder: "Find a hug"
            %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<section id="friendly" class="container-fluid">
  <div  class="row">
    <div class="col-12 mb-4">
      <h2 class="text-primary">Friendly</h2>
    </div>
    <% @hugs.select(&:friendly?).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-sm-4">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section id="tiny" class="container-fluid">
  <div  class="row text-center">
    <div class="col-12">
      <h2 class="text-primary">Tiny</h2>
    </div>
    <% @hugs.select(&:tiny?).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-sm-4">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section id="fast" class="container-fluid">
  <div  class="row">
    <div class="col-12 mb-4">
      <h2 class="text-primary">Fast</h2>
    </div>
    <% @hugs.select(&:fast?).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-sm-4" >
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section id="more" class="container-fluid">
  <div  class="row">
    <div class="col-12 mb-4">
      <h2 class="text-primary">More</h2>
    </div>
    <% @hugs.select(&:more?).each do |hug| %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-sm-4">
        <div class="wrapper">
          <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
            <div class="info">
              <h3><%= hug.title %></h3>
              <p><%= hug.description.first(70) %>...</p>
              <button><%= link_to "Details", hug_path(hug) %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="bg-white">
  <div class="container">
    <header class="section-header">
      <small>Join Us Now</small>
      <h2 class="lead-8"><strong>Boost Your 🍑</strong></h2>
      <hr>
      <p class="lead-2">Sign up for free and become one of the millions of people around the world who have fallen in love with Hug'n'more.</p>
      <p class="text-center">
        <a class="btn btn-lg btn-primary w-250" href="#">Make a Hug Right Now!</a><br>
        <small class="text-lighter">Already registered? <a href="#">Login</a></small>
      </p>
    </header>
  </div>
</section>
