<div id="heroHeaderHome" class="jumbotron jumbotron-fluid">
  <div  class="container d-flex flex-column">
    <h1 class="">Welcome to Hug'N'More</h1>
    <p class="lead">Take your time... make a hug ♥️</p>

    <div class="input-group m-5">            
        <div class="input-group-append">
          <%= form_tag hugs_path, method: :get do %>
            <%= text_field_tag :s,
              params[:s],
              class: "form-control",
              placeholder: "Find a hug"
            %>      
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>

        </div>
      <% end %>
    </div>

  </div>
</div>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Friendly</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.select(&:friendly?).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h3><%= hug.title %></h3>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Tiny</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.select(&:tiny?).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h3><%= hug.title %></h3>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Fast</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.select(&:fast?).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h3><%= hug.title %></h3>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="container mb-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>More</h2>
    </div>
  </div>
  <div id="friendly" class="row">
    <div class="card-deck">
    <% @hugs.select(&:more?).each do |hug| %>
      <div class="wrapper mx-4">
        <div class="card"><%= cl_image_tag hug.photo, class: "card-img" %>
          <div class="info">
            <h2><%= hug.title %></h2>
            <p><%= hug.description.first(70) %>...</p>
            <button><%= link_to "Details", hug_path(hug) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
