<div id="hugger" class="d-flex">
  <section id="hugContent" class="">
    <div class="row">
      <%# IMAGE %>
      <div class="col-xs-12 col-md-12 col-lg-6  align-self-top py-4 pr-lg-4 py-sm-4">
        <%= image_tag 'source-1.gif', class: 'img-hug-show' %>
      </div>
      <%# DETAILS %>
      <div class="col-xs-12 col-md-12 col-lg-6 align-self-top pl-lg-4 pt-md-4 pt-xs-4 pt-sm-4">
        <h1 class="text-cold text-primary"><%= @hug.title %></h1>
        <hr>
        <div class="contentDescription">
          <p class="h6 text-uppercase"> Catégorie - <span class="text-primary"><%= @hug.category.to_s.capitalize %></span></p>
          <p><%= @hug.description %> </p>
        </div>
        <hr>
        <p class="text-right bold">Prix <span class="text-primary"><%= @hug.price %></span> € </p>
        <hr>
        <div class="text-center pt-4">
          <p class="h4 text-primary mb-4">Partagé avec ♥️ par</p>
          <%= cl_image_tag @hugger.photo, class: "avatar-sidebar mb-4"%>
          <h4><%= @hugger.username %></h4>
          <div id="hugger-infos mb-4">
            <p> <%= @hugger.address %></p>
            <%= link_to 'Réserver', new_hug_booking_path(@hug) , :class => 'btn btn-primary btn-hug' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
