<div class="d-flex">
  <section id="huggerSidebar" class="sidebar item d-flex flex-column ">
  <section id="avatar" class="text-center flex-column vertical-center">
    <div class="avatar-content">
      <%= cl_image_tag @hug.user.photo, class: "avatar-sidebar mb-3"%>
      <h4><%= @hug.user.username %></h4>
      <div id="hugger-infos">
        <div class="text-justify">
          <p> <%= @hug.user.address %></p>
        </div>
      </div>
    </div>
  </section>
  <section id="hugger-bottom" class="d-flex flex-column justify-content-end pb-4">
    <button type="button" name="" id="" class="btn btn-primary">Contact</button>
  </section>
</section>

  <div class="item flex-grow-1">
    <div class="row bg-white justify-content-start">
      <div class="img_show"><%= cl_image_tag @hug.photo, height: 300, width: 400, crop: :fill, filter: :grayscale %>
      </div>
    </div>
    <div class="row">
        <div class="col-8 p-5 bg-white">
            <h1><%= @hug.title %></h1>
            <h5> Category: <%= @hug.category %></h5>
            <br>
            <p><%= @hug.description %></p>
            <hr>
            <p class="text-right">Price <%= @hug.price %> € </p>
        </div>
        <div class="d-flex col-4 p-5 bg-white align-items-end">
            <div id="avatar-botton" class="row w-100">
                <%= link_to 'Edit', edit_hugger_hug_path(@hug) , :class => 'btn btn-primary btn-block' %>
                <%= link_to 'Destroy', hugger_hug_path(@hug), method: :delete, :class => 'btn btn-primary btn-block' %>
            </div>
        </div>
    </div>
  </div>
</div>
